name: coverage

permissions:
  contents: read

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  codecov:
    runs-on: ubuntu-24.04

    strategy:
      matrix:
        node-version: [24.13.0]

    steps:
      - uses: actions/checkout@v6.0.2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}

      - name: Create CI config
        run: |
          mkdir -p config
          echo '{"environment":"ci","bots":{},"reddit":{},"rollbar":{"enabled":false,"accessToken":"mock"}}' > config/api_config.json

      - name: Install dependencies
        run: npm ci

      - name: Determine test coverage
        run: npm run coverage

      - name: Upload coverage to codecov
        run: bash <(curl -s https://codecov.io/bash)
