name: release-flow

on:
  release:
    types: [published]

# Add permissions block to limit GITHUB_TOKEN permissions
permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5.0.1
      - name: Build and tag the Docker image
        run: docker build .
          --target production
          --tag docker.pkg.github.com/gamefeeder/gamefeeder/gamefeeder:$(jq -r '.version' package.json)
          --tag docker.pkg.github.com/gamefeeder/gamefeeder/gamefeeder:latest
      - name: Login to Docker
        run: docker login docker.pkg.github.com -u ${{ github.actor }} -p ${{ secrets.GITHUB_TOKEN }}
      - name: Publish the Docker image:version
        run: docker push docker.pkg.github.com/gamefeeder/gamefeeder/gamefeeder:$(jq -r '.version' package.json)
      - name: Publish the Docker image:latest
        run: docker push docker.pkg.github.com/gamefeeder/gamefeeder/gamefeeder:latest
